/*Fonts*/
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:700|Roboto:300,700");
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/My\%20works\/my\%20own\/styles\.scss}line{font-family:\000038}}
body {
  margin: 0;
  background-color: #111;
  color: #b3b3b3;
  font-family: 'Roboto', sans-serif;
  line-height: 1.7;
  font-size: 14px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/My\%20works\/my\%20own\/styles\.scss}line{font-family:\0000316}}
.hello {
  font-size: 6em;
  position: absolute;
  z-index: 99;
  top: 0;
  left: -30%;
  opacity: 0.8;
  line-height: 0.7;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  font-family: 'Playfair Display', serif; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/My\%20works\/my\%20own\/styles\.scss}line{font-family:\0000328}}
header {
  padding: 20px 0px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/My\%20works\/my\%20own\/styles\.scss}line{font-family:\0000332}}
.socialmedia a {
  display: inline-block;
  margin-right: 7px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/My\%20works\/my\%20own\/styles\.scss}line{font-family:\0000335}}
  .socialmedia a svg {
    width: 13px;
    height: 13px;
    fill: #b3b3b3; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/My\%20works\/my\%20own\/styles\.scss}line{font-family:\0000341}}
  .socialmedia a.instagram:hover svg, .socialmedia a.instagram:focus svg {
    fill: #c13584; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/My\%20works\/my\%20own\/styles\.scss}line{font-family:\0000346}}
  .socialmedia a.linkedin:hover svg, .socialmedia a.linkedin:focus svg {
    fill: #00a0dc; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/My\%20works\/my\%20own\/styles\.scss}line{font-family:\0000351}}
  .socialmedia a.github:hover svg, .socialmedia a.github:focus svg {
    fill: #f5f5f5; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/My\%20works\/my\%20own\/styles\.scss}line{font-family:\0000358}}
.menu svg {
  width: 20px;
  height: 20px;
  fill: #b3b3b3; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/My\%20works\/my\%20own\/styles\.scss}line{font-family:\0000365}}
section.top {
  background: black;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(10%, rgba(0, 0, 0, 0.7973564426)), to(rgba(0, 0, 0, 0.0466561625)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7973564426) 10%, rgba(0, 0, 0, 0.0466561625) 100%); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/My\%20works\/my\%20own\/styles\.scss}line{font-family:\0000369}}
.my-image {
  position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/My\%20works\/my\%20own\/styles\.scss}line{font-family:\0000371}}
  .my-image img.back {
    -webkit-filter: contrast(1.005) brightness(0.7) blur(1.5px) sepia(0.5);
            filter: contrast(1.005) brightness(0.7) blur(1.5px) sepia(0.5);
    opacity: .6;
    position: absolute;
    top: 0;
    left: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/My\%20works\/my\%20own\/styles\.scss}line{font-family:\0000378}}
  .my-image img.clip {
    -webkit-filter: contrast(1.005) brightness(0.7) blur(0px) sepia(0.5);
            filter: contrast(1.005) brightness(0.7) blur(0px) sepia(0.5);
    visibility: hidden;
    -webkit-transition: -webkit-clip-path 500ms ease-out;
    transition: -webkit-clip-path 500ms ease-out;
    transition: clip-path 500ms ease-out;
    transition: clip-path 500ms ease-out, -webkit-clip-path 500ms ease-out;
    -webkit-clip-path: circle(10% at var(--offsetX) var(--offsetY));
            clip-path: circle(10% at var(--offsetX) var(--offsetY)); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/My\%20works\/my\%20own\/styles\.scss}line{font-family:\0000385}}
  .my-image.active img.clip {
    visibility: visible; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/My\%20works\/my\%20own\/styles\.scss}line{font-family:\0000390}}
img.signature {
  -ms-flex-item-align: start;
      align-self: flex-start;
  opacity: .8;
  width: 110px;
  margin-bottom: 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/My\%20works\/my\%20own\/styles\.scss}line{font-family:\0000396}}
.about {
  min-height: 230px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/My\%20works\/my\%20own\/styles\.scss}line{font-family:\0000398}}
  .about h1 {
    font-weight: 300;
    font-size: 1em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/My\%20works\/my\%20own\/styles\.scss}line{font-family:\00003103}}
.scroll {
  font-size: .7em;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  color: #da950b; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/My\%20works\/my\%20own\/styles\.scss}line{font-family:\00003111}}
.scroll-down {
  width: 23px;
  height: 23px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  color: #c7c4b8;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/My\%20works\/my\%20own\/styles\.scss}line{font-family:\00003122}}
.scroll-down.svg svg {
  width: 15px;
  opacity: 1;
  -webkit-transition: opacity .5s;
  transition: opacity .5s; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/My\%20works\/my\%20own\/styles\.scss}line{font-family:\00003131}}
.scroll-down.svg .stroke {
  stroke: #ADA99D; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/My\%20works\/my\%20own\/styles\.scss}line{font-family:\00003134}}
.scroll-down.svg .scroller {
  fill: #ADA99D;
  -webkit-animation: updown 1s infinite;
  animation: updown 1s infinite; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/My\%20works\/my\%20own\/styles\.scss}line{font-family:\00003142}}
section.about {
  margin: 5% 0px;
  padding: 3% 0px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/My\%20works\/my\%20own\/styles\.scss}line{font-family:\00003147}}
section.what img {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  height: 250px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  border-radius: 15px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/My\%20works\/my\%20own\/styles\.scss}line{font-family:\00003154}}
section.what .d-flex:not(.dir-row-reverse):hover img, section.what .d-flex:not(.dir-row-reverse):focus img {
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  opacity: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/My\%20works\/my\%20own\/styles\.scss}line{font-family:\00003159}}
section.what .d-flex:not(.dir-row-reverse):hover div > h2, section.what .d-flex:not(.dir-row-reverse):focus div > h2 {
  -webkit-transform: translateX(120px);
          transform: translateX(120px); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/My\%20works\/my\%20own\/styles\.scss}line{font-family:\00003162}}
section.what .d-flex:not(.dir-row-reverse) .heading-2 {
  margin-left: -120px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/My\%20works\/my\%20own\/styles\.scss}line{font-family:\00003166}}
section.what .d-flex:not(.dir-row-reverse) img {
  -webkit-transform: translateX(-60px);
          transform: translateX(-60px);
  opacity: .8; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/My\%20works\/my\%20own\/styles\.scss}line{font-family:\00003171}}
section.what .dir-row-reverse {
  text-align: right; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/My\%20works\/my\%20own\/styles\.scss}line{font-family:\00003173}}
  section.what .dir-row-reverse:hover img, section.what .dir-row-reverse:focus img {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
    opacity: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/My\%20works\/my\%20own\/styles\.scss}line{font-family:\00003178}}
  section.what .dir-row-reverse:hover div > h2, section.what .dir-row-reverse:focus div > h2 {
    -webkit-transform: translateX(-120px);
            transform: translateX(-120px); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/My\%20works\/my\%20own\/styles\.scss}line{font-family:\00003181}}
  section.what .dir-row-reverse .heading-2 {
    margin-right: -120px;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/My\%20works\/my\%20own\/styles\.scss}line{font-family:\00003185}}
  section.what .dir-row-reverse img {
    -webkit-transform: translateX(60px);
            transform: translateX(60px);
    opacity: .8; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/My\%20works\/my\%20own\/styles\.scss}line{font-family:\00003190}}
section.what article {
  margin: 80px 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/My\%20works\/my\%20own\/styles\.scss}line{font-family:\00003192}}
  section.what article div {
    position: relative; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/My\%20works\/my\%20own\/styles\.scss}line{font-family:\00003199}}
.skills article .text-right {
  direction: rtl; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/My\%20works\/my\%20own\/styles\.scss}line{font-family:\00003204}}
section.hobbies {
  margin: 0px 0px 10% 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/My\%20works\/my\%20own\/styles\.scss}line{font-family:\00003206}}
  section.hobbies .border-circle {
    height: 100px;
    width: 100px;
    padding-top: 25px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 50%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/My\%20works\/my\%20own\/styles\.scss}line{font-family:\00003213}}
    section.hobbies .border-circle img {
      height: 25px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/My\%20works\/my\%20own\/styles\.scss}line{font-family:\00003218}}
.section-icon {
  fill: #e6e6e6;
  width: 90px;
  height: 90px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/My\%20works\/my\%20own\/styles\.scss}line{font-family:\00003224}}
section.credit {
  margin: 5% 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/My\%20works\/my\%20own\/styles\.scss}line{font-family:\00003226}}
  section.credit img.height {
    height: 30px;
    vertical-align: middle; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/My\%20works\/my\%20own\/styles\.scss}line{font-family:\00003230}}
  section.credit img.medium {
    height: 20px;
    vertical-align: middle; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/My\%20works\/my\%20own\/styles\.scss}line{font-family:\00003234}}
  section.credit img.width {
    width: 100px;
    vertical-align: middle; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/My\%20works\/my\%20own\/styles\.scss}line{font-family:\00003238}}
  section.credit img.invert {
    -webkit-filter: invert(1) opacity(0.7);
            filter: invert(1) opacity(0.7); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/My\%20works\/my\%20own\/styles\.scss}line{font-family:\00003241}}
  section.credit img {
    margin: 0px 5px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/My\%20works\/my\%20own\/styles\.scss}line{font-family:\00003246}}
.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: inline-block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/My\%20works\/my\%20own\/styles\.scss}line{font-family:\00003252}}
  .circle.fill {
    background-color: #da950b; }

/*Utility Classes*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/My\%20works\/my\%20own\/styles\.scss}line{font-family:\00003258}}
.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/My\%20works\/my\%20own\/styles\.scss}line{font-family:\00003261}}
.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/My\%20works\/my\%20own\/styles\.scss}line{font-family:\00003264}}
.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/My\%20works\/my\%20own\/styles\.scss}line{font-family:\00003267}}
.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/My\%20works\/my\%20own\/styles\.scss}line{font-family:\00003270}}
.direction-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/My\%20works\/my\%20own\/styles\.scss}line{font-family:\00003273}}
.dir-row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/My\%20works\/my\%20own\/styles\.scss}line{font-family:\00003276}}
.img-responsive {
  max-width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/My\%20works\/my\%20own\/styles\.scss}line{font-family:\00003279}}
.h-100 {
  height: 100vh; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/My\%20works\/my\%20own\/styles\.scss}line{font-family:\00003282}}
.relative {
  position: relative; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/My\%20works\/my\%20own\/styles\.scss}line{font-family:\00003285}}
.w-50 {
  width: 50%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/My\%20works\/my\%20own\/styles\.scss}line{font-family:\00003288}}
.w-40 {
  width: 40%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/My\%20works\/my\%20own\/styles\.scss}line{font-family:\00003291}}
.w-60 {
  width: 60%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/My\%20works\/my\%20own\/styles\.scss}line{font-family:\00003294}}
.w-30 {
  width: 30%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/My\%20works\/my\%20own\/styles\.scss}line{font-family:\00003297}}
.ml-40 {
  margin-left: 40px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/My\%20works\/my\%20own\/styles\.scss}line{font-family:\00003300}}
.mb-10 {
  margin-bottom: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/My\%20works\/my\%20own\/styles\.scss}line{font-family:\00003303}}
.m-10 {
  margin: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/My\%20works\/my\%20own\/styles\.scss}line{font-family:\00003306}}
.m-0 {
  margin: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/My\%20works\/my\%20own\/styles\.scss}line{font-family:\00003309}}
.mx-auto {
  margin: 0 auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/My\%20works\/my\%20own\/styles\.scss}line{font-family:\00003312}}
.color-light {
  color: #e6e6e6; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/My\%20works\/my\%20own\/styles\.scss}line{font-family:\00003315}}
.text-center {
  text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/My\%20works\/my\%20own\/styles\.scss}line{font-family:\00003318}}
.heading-1 {
  font-family: 'Playfair Display', serif;
  font-size: 3em;
  display: inline-block;
  position: relative;
  padding: 10px;
  margin: 0;
  background-color: #111; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/My\%20works\/my\%20own\/styles\.scss}line{font-family:\00003326}}
  .heading-1:before {
    content: '';
    width: 200%;
    height: 1px;
    background: rgba(255, 255, 255, 0.5);
    display: block;
    position: absolute;
    top: 50%;
    left: -50%;
    z-index: -1; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/My\%20works\/my\%20own\/styles\.scss}line{font-family:\00003338}}
.heading-2 {
  font-size: 2.5em;
  margin-bottom: 0;
  line-height: 1;
  color: #da950b; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/My\%20works\/my\%20own\/styles\.scss}line{font-family:\00003344}}
.text-right {
  text-align: right; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/My\%20works\/my\%20own\/styles\.scss}line{font-family:\00003347}}
.small {
  font-size: 85%; }

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/My\%20works\/my\%20own\/styles\.scss}line{font-family:\00003354}}
  .d-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; } }
/* iPads (portrait and landscape) ----------- */
/* Desktops and laptops ----------- */
/*Animations*/
@-webkit-keyframes updown {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(0, 5px);
    transform: translate(0, 5px); }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); } }
@keyframes updown {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(0, 5px);
    transform: translate(0, 5px); }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); } }

/*# sourceMappingURL=styles.css.map */